{{ template "layout" .}}

{{ define "main" }}

<div class ="box-with-shadow">
    <form action="/process" method="post">

        <div class="box-with-shadow">
            <label for="name">NIM</label>
            <input type="number" name="nim" placeholder="NIM DISINI CUY" required>
        </div>

        <div class="text box-with-shadow">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Nama Kamu" required>
        </div>

        <div class="box-with-shadow">
            <label for="name">Email</label>
            <input type="text" name="email" placeholder="Email Masuk SINI GUYS" required>
        </div>

        <div>
            <input type="submit" value="kirim">
        </div>
    </form>
</div>
{{ end }}