{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-Lang</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="header">
        DATA MAHASISWA LATIHAN Go-Lang
    </div>

    {{ template "main" .}}


    <div class="footer">
        @nandawijayaputra_</br>
        <a href="https://github.com/nanwp/">
            Github
        </a>
    </div>
    
</body>
</html>
{{ end }}